@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

/* Ajoutez ces styles dans le fichier CSS de votre choix ou dans une balise style dans l'en-tête HTML */

table {
  border-collapse: collapse;
  /* Fusionne les bordures de cellules */
  width: 100%;
  /* Ajuste la largeur du tableau à 100% du conteneur */
}

th,
td {
  border: 1px solid black;
  /* Ajoute une bordure de 1 pixel solide */
  padding: 8px;
  /* Ajoute un espacement intérieur pour un meilleur aspect */
  text-align: left;
  /* Alignement du texte à gauche */
}

/* Styles optionnels */
th {
  background-color: #f2f2f2;
  /* Ajoute une couleur de fond pour les en-têtes */
}


/* LoginPage Styles */
.tab-buttons button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.tab-buttons button.active {
  background-color: #ccc; /* Couleur de fond différente pour l'onglet actif */
}

/* Custom Tailwind Apply Styles */
.send-button {
  @apply w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-purple-700 rounded-md hover:bg-purple-600 focus:outline-none focus:bg-purple-600;
}

.save-button {
  @apply mt-4 bg-purple-700 text-white py-2 px-4 rounded hover:bg-purple-600 focus:outline-none focus:bg-purple-600;
}

.forget-password {
  @apply text-xs text-purple-600 hover:underline;
}

.pannel-connect-1 {
  @apply relative flex flex-col justify-center min-h-screen overflow-hidden;
}

.pannel-connect-2 {
  @apply w-full p-6 m-auto bg-white rounded-md shadow-md lg:max-w-xl;
}

.titre-connect {
  @apply text-3xl font-semibold text-center text-purple-700 underline;
}

.input-user {
  @apply block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40;
}

.input-password {
  @apply block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40;
}

.success-message {
  @apply fixed bottom-0 right-0 m-4 p-2 bg-green-500 text-white rounded shadow-md;
}

.modify-button{
  @apply bg-green-500 text-white py-1 px-2 rounded hover:bg-blue-700
}

.delete-button{
  @apply bg-red-600 text-white py-1 px-2 rounded mr-2 hover:bg-red-700
}

.dashboard-button{
  @apply w-full py-2 px-4 text-left rounded-lg text-gray-800 hover:bg-gray-300 focus:outline-none
}

.table-lign{
  @apply px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900
}

.table-lign-0{
  @apply px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500
}

.table-lign1{
  @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider
}
/* Additional Custom Styles */
.send-button:hover {
  background-color: #2779bd;
}

.active .send-button {
  background-color: #38c172;
}

.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}


.p-4 {
  padding: 1rem;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.bg-white {
  background-color: #fff;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
