@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$color-text: #fff;
$color-background: linear-gradient(to right bottom, #ffb88e, #ea5753);
$color-container: linear-gradient(
  to right bottom,
  rgba(255, 184, 142, 0.44),
  rgba(255, 255, 255, 0.5)
);
$color-list: rgba(234, 87, 83, 0.7);

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  font-size: 1.6rem;
  place-items: center;
  background: $color-background;
  font-family: "Roboto", Arial, sans-serif;
}

.container {
  width: 60vw;
  padding: 3rem;
  overflow: hidden;
  position: relative;
  border-radius: 3rem;
  background: $color-container;

  &::before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: 40rem;
    height: 40rem;
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.35);
  }

  &::after {
    content: "";
    bottom: 0rem;
    right: -10rem;
    width: 40rem;
    height: 40rem;
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 185, 142, 0.6);
  }

  h1 {
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    color: $color-text;
    margin-bottom: 3rem;
    background: rgba(234, 87, 83, 0.7);
    border-radius: 2rem;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    counter-reset: list-counter;

    li {
      counter-increment: list-counter;
      padding: 1.5rem;
      text-align: center;
      color: $color-text;
      border-radius: 2rem;
      background: $color-list;

      &::before {
        content: counter(list-counter) ". ";
        font-weight: bold;
      }
    }
  }
}
